.footer {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 2rem 1rem 1rem;
  margin-top: auto;
  height: auto ;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
  border-top: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
}

.footer-container.compact {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.footer-link {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-bottom {
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .footer-container.compact {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
